<nav class="navbar navbar-static-top">
    <div class="container">
        <div><a class="navbar-header" ng-click="goHome()">Reflections  <span class="glyphicon glyphicon-cloud"></a></span></div>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <a class="navbar-header" ng-click='seeTimeline()'>My Timeline</a>
            <a class="navbar-header">Add a memory!</a>
            <a id="logout" class="navbar-header" ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>