#home-image {
	margin: 0 auto;
	padding: 30px;
	max-height: 600px;
	width: 1200px;
	border-radius: 100px;
}

.overlay {
	margin-top: -300px;
	color: white;
	text-align: center;
}

.overlay h1 {
	font-size: 4em;
	font-style: italic;
	color: white;
}

.overlay p {
	font-size: 2em;
	color: white;
	max-width: 70%;
	margin: 0 auto;
}



