navbar {
  font-family: Sofia;
  display: block;
  background: #ADD8E6;
  border-bottom: 2px solid white;
  box-shadow: 1px 1px 14px -3px white;
  font-size: 2em;
  color: white;

  .container {
    width: 91%;
    max-width: 1340px;
  }

  a {
    color: white;
  }

  div {
    float: left;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;

    .navbar-header {
      font-size: 1em;
      padding-right: 10px;
    }

    .glyphicon-cloud {
      vertical-align: middle;
    }

  }
  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid white;
    margin-top: 10px;
    background: none;
    outline: none !important;
    font-size: 20px;
  }

  .welcome {
    float: right;
    margin-top: 8px;
    vertical-align: bottom;
    span {
      color: white;
      font-size: 0.8em;
      margin-right: 5px;
      }
    a {
      color: white;
      cursor: pointer;
      padding: 7px;
      font-size: 0.8em;
      vertical-align: top;
      margin: 5px;
    }
    #logout {
      text-style: underline;
      border: 2px solid white;
      border-radius: 5px;
    }
  }
}

.navbar-static-top {
  margin-bottom: 5px;
}