#login-form {
  width: 40%;
  margin: 0 auto;
  font-family: Sofia;
  font-size: 1.5em;
  float: left;
  color: white;
}

#signup-form {
  width: 40%;
  margin: 0 auto;
  font-family: Sofia;
  font-size: 1.5em;
  color: white;
}

.login {
	font-family: Sofia;
	color: grey;
	display: inline;
	font-size: 1.5em;
	text-align: center;
	padding-left: 120px;
}